<div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center" fxFlex="80">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>
    <mat-form-field class="example-full-width" fxLayoutAlign="center center " fxFlex="40">

        <!-- <input [value]="keyword" type="text" matInput placeholder="Search Contact" (input)="keyword=$event.target.value;paginator.pageIndex=1;LoadUser()"> -->
        <input matInput placeholder="Search lessons" #input>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="seqNo" matSortDirection="asc" matSortDisableClear fxFlex=100>
        <ng-container matColumnDef="seqNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
            <mat-cell *matCellDef="let lesson">{{lesson.seqNo}}</mat-cell>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> First </th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Last </th>
            <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Phone1 </th>
            <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.totalItem|async" [pageSize]="20"></mat-paginator>
</div>